/* General styles */

/* Colors */
:root{
    --col-primary: rgb(22, 110, 211);
}

/* Styles for game.html */
.policy{
    margin-top: 10px;
}
.policy-container{
    overflow: scroll;
}

/* Colors */
.col-primary{
    color: var(--col-primary);
}