/* General styles */

/* Colors */
:root{
    --col-primary: gold;
    --col-pos: coral;
    --col-neg: cornflowerblue;
    --col-dark: rgb(1, 31, 66);
    --col-light: ghostwhite;
}
.col-primary{
    color: var(--col-primary);
}
.col-pos{
    color: var(--col-pos);
}
.col-neg{
    color: var(--col-neg);
}
.col-dark{
    color: var(--col-dark);
}
.col-light{
    color: var(--col-light);
}
.bg-primary{
    background-color: var(--col-primary) !important;
}
.bg-light{
    background-color: var(--col-light) !important;
}
.bg-dark{
    background-color: var(--col-dark) !important;
}
.btn-custom{
    font-family: 'Oxanium', cursive;
        font-weight: 700;
    background-color: var(--col-primary) !important;
}
.btn-custom:hover{
    background-color: var(--col-light) !important;
}

/* Font */
.fnt-safe{
    font-family: Arial, Helvetica, sans-serif !important;
}
.fnt-bold{
    font-weight: 400;
}
.fnt-light{
    font-weight: 300;
}

/* Style for game GUI */
.policy{
    margin-top: 10px;
}
#panel-policy-icon{
    height: 100px;
    width: auto;
}
.policy-container{
    overflow: scroll;
}
.policyEffect-none{
    color: grey;
}
#panel-left{
    position: absolute; 
    left: -400px; 
    height: 79vh; 
    width: 400px;
    opacity: 0.9;
}

/* Style for visualisation */
#svg-main{
    height: var(--100pct-in-px);
    width: var(--100pct-in-px);
    opacity: 0;
    z-index: 4;
}
.label{
    opacity: 1;
}
.nodeLabel{
    opacity: 0;
}
.nodeLabel_bg{
    opacity: 0;
}
.shadow{
    text-shadow: 0 0 3px black;
}

#container-4-bg{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#preload-images{
  visibility: hidden;
  width: 0;
  height: 0;
  background: url(images/spaceboxes/0.jpg),
    url(images/spaceboxes/1.jpg),
    url(images/spaceboxes/2.jpg),
    url(images/spaceboxes/3.jpg),
    url(images/spaceboxes/4.jpg),
    url(images/spaceboxes/5.jpg),
    url(images/spaceboxes/6.jpg),
    url(images/spaceboxes/7.jpg),
    url(images/spaceboxes/8.jpg);
}